.projects-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  gap: 30px;
}

.project-box {
  width: 250px;
  height: 250px;
  background-color: black;
  //animation: enter both;
  //animation-timeline: view();

  &:nth-child(1) {
    transform: translateY(-100px);
  }

  &:nth-child(2) {
    transform: translateY(50px);
  }

  &:nth-child(3) {
    transform: translateY(-200px);
  }
}

// @keyframes enter {
//   0% {
//     transform: translateY(50px);
//     filter: opacity(0);
//   }
//   100% {
//     transform: translateY(-50px);
//     filter: opacity(1);

//   }
// }
