@use "../../styles/variables" as v;

.projects-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  gap: 30px;
  margin: auto;
}

.project-box {
  flex-grow: 1;
  height: 50%;
  background-color: v.$black;
  color: v.$white;
  font-size: 3rem;
  font-weight: bold;
  writing-mode: vertical-lr;
  display: flex;
  flex-direction: row;

  .link {
    width: 100%;
    height: 100%;
    position: relative;

    .type {
      font-size: 1rem;
      font-family: "Courier New", Courier, monospace;
      font-weight: lighter;
      position: absolute;
      bottom: 28px;
      right: 6px;
      mix-blend-mode: difference;
    }

    &::before {
      content: "";
      width: 1px;
      height: 20px;
      background-color: v.$white;
      mix-blend-mode: difference;
      position: absolute;
      right: 18px;
      bottom: 0;
    }
  }

  &:nth-child(odd) {
    transform: translateY(-20%);
  }

  &:nth-child(even) {
    transform: translateY(20%);
  }

  .article-name {
    position: relative;
    overflow: hidden;
    -webkit-text-stroke: 1px v.$white; // bug sur mobile
    color: v.$black;


    &::before {
      content: attr(data-text);
      position: absolute;
      z-index: 1;
      color: v.$white;
      height: 0;
      width: 4rem;
      overflow: hidden;
      transition: height 0.5s ease-out;
    }
  }

  &:hover {
    .article-name {
      &::before {
        height: 100%;
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  .projects-container {
    flex-direction: column;
    flex-wrap: nowrap;
    width: 70%;
    height: 80vh;
  }

  .project-box {
    width: 100%;
    height: auto;
    font-size: 2rem;
    writing-mode: horizontal-tb;

    .link {
      .type {
        font-size: 1rem;
        bottom: 6px;
        right: 28px;
        mix-blend-mode: difference;
      }

      &::before {
        content: "";
        width: 20px;
        height: 1px;
        right: 0;
        bottom: 18px;
      }
    }

    &:nth-child(odd) {
      transform: translateX(-15%);
    }

    &:nth-child(even) {
      transform: translateX(15%);
    }

    .article-name {

      &::before {
        height: 0;
        width: auto;
      }
    }

    &:hover {
      .article-name {
        &::before {
          height: 100%;
        }
      }
    }
  }
}
