@use "../../styles/variables" as v;

.experiences-wrapper {
  width: 60%;
  display: flex;
  flex-direction: column;

  .line {
    width: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: larger;
    padding-bottom: 30px;
    position: relative;

    &::before {
      content: "";
      width: 100%;
      height: 0.5px;
      background-color: v.$black;
      position: absolute;
      bottom: 30px;
      left: 0;
    }

    .experience-details {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: baseline;

      p {
        width: max-content;
        margin-right: 8px;
      }

      .experience-name {
        font-weight: bold;
        position: relative;

        &::after {
          content: "";
          width: 4px;
          height: 4px;
          background-color: v.$black;
          opacity: 0.5;
          border-radius: 50%;
          position: absolute;
          right: -12px;
          bottom: 0.5rem;
        }
      }

      .experience-company {
        margin-left: 12px;
        color: v.$black;
        opacity: 0.5;
        font-size: smaller;
        font-family: 'Courier New', Courier, monospace;
      }
    }
  }

  .experience-bubble {
    // background: v.$black;
    color: v.$white;
    width: 350px;
    height: 350px;
    //border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5%;
    text-align: center;
    transform: scale(0);
    opacity: 0;
    transition: all 0.3s ease-out;
    position: fixed;
    z-index: 1000;

    &.--open {
      transform: scale(1);
      opacity: 1;
    }

    .bubble-bg-svg {
      position: absolute;
      z-index: -1;
      transform: scale(1.1);
    }
  }
}

body.--dark {
  .line {
    &::before {
      background-color: v.$white;
    }

    .experience-details {
      .experience-name {
        &::after {
          background-color: v.$white;
          opacity: 0.6;
        }
      }
      .experience-company {
        color: v.$white;
        opacity: 0.6;
      }
    }
  }
}
