@use "../../styles/variables" as v;

.contact-section-wrapper {
  flex-direction: row;
  width: 100%;
  padding: 0 16vw;
  margin-top: 12vh;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.contacts-details {
  display: flex;
  flex-direction: column;
}

.illustration {
  position: relative;
  svg {
    width: 300px;
    transform: scale(0);
  }

  .hand {
    width: 150px;
    height: 200px;
    background-color: #eec5aa;
    position: absolute;
    bottom: -200px;
    left: 100px;
    transform: scale(0) rotate(20deg);
    transform-origin: bottom;
    //animation: waving 2s infinite alternate-reverse ease-out;
  }

  @keyframes waving {
    from {
      transform: rotate(-40deg);
    }
    to {
      transform: rotate(20deg);
    }
  }
}

.networks {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  font-size: x-large;

  :hover {
    color: grey;
  }
}

.contact-form {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  flex-grow: 1;
  margin-left: 15%;
  text-align: left;

  //margin-top: 5vh;

  input,
  textarea {
    border: none;
    border-radius: 20px;
    padding: 0.5rem 1rem;
    margin-top: 0.3rem;
    margin-bottom: 1rem;
    resize: none;
  }

  #lastname {
    text-transform: uppercase;
  }

  input[type="submit"] {
    background-color: rgb(254, 109, 206);
  }
}

.footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 4px;
  font-size: x-small;
  position: relative;

  .icon {
    transition: all 0.3s;
    &:hover {
      transform: scale(1.2);
      color: v.$accent;
    }
  }
}

body.--dark {
  input[type="submit"] {
    background-color: v.$black-bg;
    color: inherit;
  }
}

@media only screen and (max-width: 900px) {
  .contact-section-wrapper {
    flex-direction: column;
    align-items: center;
    margin-top: -5vh;
    gap: 5vh;
    text-align: center;
  }
  .contacts-details {
    flex-direction: column-reverse;
    gap: 24px;
  }

  .contact-form {
    margin-left: 0;
  }
}
