@use "../../styles/variables" as v;
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@900&display=swap");

header {
  font-family: "Red Hat Display", sans-serif;
  text-transform: uppercase;
  width: 100vw;
  z-index: 100;
}

.top-bar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  transition: all 1s;
  z-index: inherit;
  color: v.$black;

  .top-bar-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index: inherit;

    .logo {
      font-size: 1.5rem;
      -webkit-text-stroke: 1px v.$black;
      color: transparent;
      position: relative;
      overflow: hidden;

      &::before {
        content: attr(data-text);
        position: absolute;
        z-index: 1;
        color: v.$black;
        height: 0;
        overflow: hidden;
        transition: all 0.5s ease-out;
      }

      &:hover {
        &::before {
          height: 100%;
          overflow: hidden;
        }
      }
    }

    .switch-mode-btn {
      position: relative;

      &::before {
        content: "";
        width: 100%;
        height: 100%;
        border-radius: 50%;
        position: absolute;
        transform: scale(1.5);
        transition: background-color 0.2s;
        z-index: -1;
      }

      &:hover::before {
        background-color: rgba(122, 122, 122, 0.253);
      }
    }
  }
}

.menu-fullpage {
  transform: translate(100vw);
  //opacity: 0;
  transition: transform 1.5s;
  background-color: v.$white;
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  //   z-index: 10;

  &.is-open {
    transform: translate(0vw);
    //opacity: 1;

    .word {
      .letter {
        //! Conflit avec l'animation wave !!!
        //animation: letter-incoming 1.8s forwards;
      }
    }

    @keyframes letter-incoming {
      0% {
        transform: rotate(15deg);
        margin-left: 6px;
      }
      85% {
        transform: rotate(-5deg);
        margin-left: -1px;
      }
      90% {
        transform: rotate(2deg);
      }
      100% {
        transform: rotate(0deg);
        margin-left: 0px;
      }
    }
  }

  .menu-container {
    width: 100%;
    height: 50vh;
    margin-left: 6vw;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    font-family: "Red Hat Display", sans-serif;
  }
}

.menu-burger {
  width: 32px;
  height: 25px;
  position: relative;

  .menu-burger--line {
    position: absolute;
    width: 100%;
    height: 5px;
    border: solid 1px;
    border-color: v.$black;
    border-radius: 5px;
    transition: all 0.5s;

    &:nth-child(1) {
      position: absolute;
      top: 0;
    }
    &:nth-child(2) {
      position: absolute;
      top: 10px;
      transition: all 0.5s;
    }
    &:nth-child(3) {
      position: absolute;
      bottom: 0;
    }
  }

  &:hover {
    .menu-burger--line {
      background-color: v.$black;
    }
  }

  &.is-open {
    .menu-burger--line:nth-child(1) {
      top: 10px;
      transform: rotate(-45deg);
    }
    .menu-burger--line:nth-child(2) {
      opacity: 0;
    }
    .menu-burger--line:nth-child(3) {
      bottom: 10px;
      transform: rotate(45deg);
    }
  }
}

.menu-fixed {
  display: flex;
  //background-color: red;
  //position: relative;
}

.menu-fixed-container {
  height: auto;
  width: inherit;
  background-color: v.$white;
  position: fixed;
  bottom: 0;
  padding: 4vh 8vw;
  z-index: 99;
  --menu-opacity: 1;
  // animation: slide-down ease-in-out forwards;
  // animation-timeline: scroll();
  // animation-range-start: 408vw;
  // animation-range-end: 418vw;

  &::before {
    content: "";
    width: 100%;
    height: 57px;
    position: absolute;
    top: -57px;
    left: 0;
    background-size: auto;
    background-repeat: repeat no-repeat;
    background-position: 22vw bottom;
    background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 1200 115' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M0 0C22.4434 -1 28.9842 2 55 20C94.1849 47 121.997 49 158.5 49C198.5 52 200 38 240 44C280 51 320 76 360 76C400 76 440 51 480 46C520 42 560 59 600 72C640 85 680 93 720 98C760 102 800 102 840 89C880 76 920 51 960 53C1000 55 1040 85 1080 81C1120 76 1127.5 51 1147.5 32C1171.48 10 1185.65 0 1200 0V115H1180C1160 115 1120 115 1080 115C1040 115 1000 115 960 115C920 115 880 115 840 115C800 115 760 115 720 115C680 115 640 115 600 115C560 115 520 115 480 115C440 115 400 115 360 115C320 115 280 115 240 115C200 115 160 115 120 115C80 115 40 115 20 115H0V0.0103865Z' fill='%23f9ede7'/></svg>");
    opacity: var(--menu-opacity);
    // animation: slide-off forwards;
    // animation-timeline: scroll();
    // animation-range-start: 408vw;
    // animation-range-end: 418vw;
  }

  @keyframes slide-down {
    from {
      z-index: 99;
      opacity: 1;
      background-color: transparent;
      bottom: 0;
    }
    to {
      z-index: -1;
      opacity: 0;
      bottom: 13vw;
      background-color: transparent;
    }
  }

  @keyframes slide-off {
    from {
      opacity: 0;
    }
    to {
      opacity: 0;
    }
  }
}

@media only screen and (min-width: 1000px) {
  .top-bar {
    padding: 4vh 8vw;
  }

  .menu-burger {
    display: none;
  }
}

@media only screen and (max-width: 1000px) {
  .top-bar {
    padding: 3vh 6vw;
    --menu-blur: 10px;
    backdrop-filter: blur(var(--menu-blur));
    transition: backdrop-filter 0.3s;
  }

  .menu-fixed-container {
    padding: 0;

    .menu-fixed {
      display: none;
    }
  }
}

body.--dark {
  .top-bar {
    color: v.$white;

    .top-bar-content {
      .logo {
        -webkit-text-stroke: 1px v.$white;

        &::before {
          color: v.$white;
        }
      }
    }
  }
  .menu-fullpage {
    background-color: v.$black;
  }
  .menu-burger {
    .menu-burger--line {
      border-color: v.$white;
    }

    &:hover {
      .menu-burger--line {
        background-color: v.$white;
      }
    }
  }

  .menu-fixed-container {
    background-color: v.$black;

    &::before {
      content: "";
      width: 100%;
      height: 57px;
      position: absolute;
      top: -57px;
      left: 0;
      background-size: auto;
      background-repeat: repeat no-repeat;
      background-position: 22vw bottom;
      background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 1200 115' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M0 0C22.4434 -1 28.9842 2 55 20C94.1849 47 121.997 49 158.5 49C198.5 52 200 38 240 44C280 51 320 76 360 76C400 76 440 51 480 46C520 42 560 59 600 72C640 85 680 93 720 98C760 102 800 102 840 89C880 76 920 51 960 53C1000 55 1040 85 1080 81C1120 76 1127.5 51 1147.5 32C1171.48 10 1185.65 0 1200 0V115H1180C1160 115 1120 115 1080 115C1040 115 1000 115 960 115C920 115 880 115 840 115C800 115 760 115 720 115C680 115 640 115 600 115C560 115 520 115 480 115C440 115 400 115 360 115C320 115 280 115 240 115C200 115 160 115 120 115C80 115 40 115 20 115H0V0.0103865Z' fill='%23181717'/></svg>");
    }
  }
}
