@use "../../styles/variables" as v;

:root {
  --size: 40;
  --intensity: 0.3;
}

.cursor {
  width: calc(var(--size) * 1px);
  height: calc(var(--size) * 1px);
  border-radius: 50%;
  border: 1px solid v.$black;
  z-index: 1000;
  position: fixed;
  pointer-events: none;
  transform: scale(1);
  transition: transform 0.1s;

  &.--pointer-down {
    transform: scale(0.8);
  }
}

.inner-cursor {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: v.$black;
  z-index: 1000;
  position: fixed;
}

body.--dark {
  .cursor {
    border-color: v.$white;
  }
  .inner-cursor {
    background-color: v.$white;
  }
}
